#version: '3.5'
#name: 'popote'

# Services
services:

  # base de donnee Service :
  mariadb:
    container_name: popote_mariadb
    restart: on-failure
    build: 
      context: .
      dockerfile: mariadb/dockerfile
    ports:
      - 3306:3306
    networks:
      - popote_mariadb_network

  # backend Service : serveur node
  backend:
    container_name: popote_backend
    restart: on-failure
    build: 
      context: .
      dockerfile: serverNode/Dockerfile
    ports:
      - 3000:3000
    depends_on:
      - mariadb
    networks:
      - popote_backend_network
      - popote_mariadb_network

  # frontend Service : VueJS
  frontend:
    container_name: popote_frontend
    restart: on-failure
    build: 
      context: .
      dockerfile: popote/Dockerfile
    ports:
      - 8080:8080
    depends_on:
      - backend
    networks:
      - popote_backend_network
      - popote_frontend_network

# configuration reseau
networks:
  popote_mariadb_network:
    driver: bridge
  popote_backend_network:
    driver: bridge
  popote_frontend_network:
    driver: bridge
    external: true
