
name: Deployment_popote_dev

concurrency: development

on:
  push:
    branches:
      - main

jobs:
  deployment:
    runs-on: self-hosted
    environment: development
    steps: 
      - name: stop containers (docker-compose stop)
        run: ssh -p 443 bruno@popote.zapto.org 'cd /home/bruno/popote_vueJS_K8S && docker-compose stop'
      - name: update software (git pull)
        run: ssh -p 443 bruno@popote.zapto.org 'cd /home/bruno/popote_vueJS_K8S && git pull origin main'
      - name: restart containers (docker-compose up --build)
        run: ssh -p 443 bruno@popote.zapto.org 'cd /home/bruno/popote_vueJS_K8S && docker-compose up --build'
